.work-container {
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    /* margin-top: 20px; */
    padding: 15px 20px 15px 25px;
    padding: 15px;
    margin-bottom: 25px;
    width: 790px
}